# Data Cleaning

In [ ]:
# For jupyterlab-docker
!pip install openpyxl seaborn scikit-learn -q

In [1]:
# Import library
import pandas as pd

In [2]:
# Read the excel file
data = pd.read_excel("data/ptestost.xlsx")

# Convert the data file: Excel to csv
data.to_csv("data/data.csv", index=False)

# Read csv file
data = pd.read_csv("data/data.csv")

In [3]:
# Print the data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3397 entries, 0 to 3396
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     3397 non-null   int64
 1   DM      3397 non-null   int64
 2   TG      3397 non-null   int64
 3   HT      3397 non-null   int64
 4   HDL     3397 non-null   float64
 5   AC      3397 non-null   float64
 6   T       3397 non-null   int64
dtypes: float64(2), int64(5)
memory usage: 185.9 KB

In [4]:
# Check for missing value
# It seems like there's no missing value.

# Check for wrong data types
# It seems like there's no wrong data types.

In [5]:
# Descriptive Statistics
data.describe()

,Age,DM,TG,HT,HDL,AC,T
count,3397.000000,3397.000000,3397.000000,3397.000000,3397.000000,3397.000000,3397.000000
mean,61.327348,0.388578,155.269650,0.511922,46.325493,98.916515,0.193112
std,10.072821,0.487499,88.840249,0.499931,10.960146,10.629471,0.394798
min,45.000000,0.000000,12.000000,0.000000,13.000000,43.000000,0.000000
25%,53.000000,0.000000,97.000000,0.000000,39.000000,92.000000,0.000000
50%,60.000000,0.000000,136.000000,1.000000,45.000000,98.000000,0.000000
75%,69.000000,1.000000,183.000000,1.000000,52.000000,105.000000,0.000000
max,85.000000,1.000000,980.000000,1.000000,116.000000,198.000000,1.000000